#container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.baner {
    position: relative;
    height: 498px;
    background-color: #000;
    border-top: 2px solid #fb4357;
    border-bottom: 2px solid #fb4357;
}

.baner .contents .video_wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.baner .contents .video_wrap::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(
        to right,
        #000 0%,
        rgba(0, 0, 0, 0.25) 25%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.25) 75%,
        #000 100%
    );
}

.movieChartScreen {
    clear: none;
    float: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(232, 232, 232, 0.37));
}

.movieChartScreen .contents {
    overflow: hidden;
    padding: 50px 30px 60px;
}

#container .contents {
    width: 980px;
    height: 100%;
    margin: 0 auto;
    transform: translate();
}

#container .contents .movieChart_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.movieChartScreen .contents .movieChart_btn h3 {
    height: auto;
    margin: 0;
    line-height: 1em;
}

.movieChartScreen .contents .movieChart_btn h3 a {
    font-weight: 700;
    font-size: 24px;
    color: #222;
    line-height: 1.423em;
}

.movieChart_btn .allViewBtn {
    padding: 4px 32px 4px 15px;
    font-size: 14px;
    color: #222;
    background: transparent url(https://img.cgv.co.kr/R2014/images/common/ico/arrowR_8x13.png)
        calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
}

.movieChartList {
    display: block;
    position: relative;
}

.movieChartList_wrap {
    display: flex;
    justify-content: center;
}

.movieChartList .movieChart_wrap {
    width: 170.4px;
    margin-right: 32px;
}

.movieChartList .movie_img:hover .movieBtn_wrap,
.movieChartList .movie_img:focus .movieBtn_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieChartList .movieChart_wrap .movie_img {
    position: relative;
    overflow: hidden;
    width: 170px;
    height: 234px;
    border-radius: 10px;
}

.movieChartList .movieChart_wrap .movie_img img {
    width: 100%;
    height: 100%;
}

.movieChartList .movieChart_wrap .movieInfo_wrap {
    display: flex;
    flex-wrap: wrap;
}

.movieChartList .movieChart_wrap .movieInfo_wrap .movieName {
    display: block;
    overflow: hidden;
    flex-basis: 100%;
    font-size: 18px;
    margin-top: 14px;
    color: #222;
    text-align: center;
    white-space: nowrap;
}

.movieChartList .movieChart_wrap .movieInfo_wrap span {
    display: block;
    font-size: 14px;
    margin-top: 14px;
    color: #444;
    text-align: center;
    white-space: nowrap;
}

.movieChartList .movieChart_wrap .movieInfo_wrap span img {
    width: 16px;
    height: 16px;
}

.movieChartList .movieChart_wrap .movieInfo_wrap span ~ span {
    position: relative;
    padding-left: 16px;
}

.movieChartList .movieChart_wrap .movieInfo_wrap span ~ span::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 10px;
    left: 6px;
    top: 50%;
    margin-top: -5px;
    background-color: #ededed;
}

.movieChartList .movieChart_wrap .movieBtn_wrap {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.movieChartList .movieChart_wrap .movieBtn_wrap a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 5px;
}

.movieChartList .movieChart_wrap .movieBtn_wrap a ~ a {
    margin-top: 5px;
}

.movieChartList .movieChart_wrap .movieBtn_wrap a:hover {
    opacity: 0.8;
}

.movieChartList .movieChart_wrap .movieBtn_wrap .movieDetailBtn {
    color: #666;
    background-color: #fff;
}

.movieChartList .movieChart_wrap .movieBtn_wrap .movieTicketingBtn {
    color: #fff;
    background-color: #fb4357;
}

.nextBtn,
.prevBtn {
    position: absolute;
    top: 50%;
    cursor: pointer;
    display: flex;
}

.movieChartList .nextBtn {
    overflow: hidden;
    right: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
}

.movieChartList .nextBtn::after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8)
        url(https://img.cgv.co.kr/R2014/images/common/ico/arrowL.png) center/9px 13px scroll
        no-repeat;
    transform: rotate(180deg);
}

.movieChartList .prevBtn {
    overflow: hidden;
    left: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
}

.movieChartList .prevBtn::after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8)
        url(https://img.cgv.co.kr/R2014/images/common/ico/arrowL.png) center/9px 13px scroll
        no-repeat;
}

#container .event_wrap {
    padding: 60px 0 6px;
}

.event_wrap .event_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event_wrap .event_title h3 {
    font-weight: 700;
    font-size: 26px;
    height: auto;
    color: #222;
    margin: 0;
}

.event_wrap .event_title .allViewBtn {
    padding: 4px 32px 4px 15px;
    font-size: 14px;
    color: #222;
    background: transparent url(https://img.cgv.co.kr/R2014/images/common/ico/arrowR_8x13.png)
        calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
}

.event_wrap .event_list {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 22px;
    padding: 0 22px;
    margin-left: -10px;
}

.event_wrap .event_list .event_list_box {
    position: relative;
    overflow: visible;
}

.event_wrap .event_list .event_list_wrap {
    position: relative;
    display: flex;
}

.event_wrap .event_list .event_list_wrap .event {
    width: 310.667px;
    margin-right: 24px;
}

.event_wrap .event_list .event_list_wrap .event a {
    display: block;
}

.event_wrap .event_list .event_list_wrap .event .img_wrap {
    overflow: hidden;
    width: 310px;
    height: 207px;
    border-radius: 10px;
}

.event_wrap .event_list .event_list_wrap .event .img_wrap img {
    width: 100%;
    height: auto;
}

.event_wrap .event_list .event_list_wrap .event strong {
    display: block;
    margin-top: 15px;
    font-size: 16px;
}

.event_wrap .event_list .event_list_wrap .event span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}

.event_list .nextBtn {
    overflow: hidden;
    right: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
    left: auto;
}

.event_list .nextBtn::after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8)
        url(https://img.cgv.co.kr/R2014/images/common/ico/arrowL.png) center/9px 13px scroll
        no-repeat;
    transform: rotate(180deg);
}

.event_list .prevBtn {
    overflow: hidden;
    left: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
}

.event_list .prevBtn::after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8)
        url(https://img.cgv.co.kr/R2014/images/common/ico/arrowL.png) center/9px 13px scroll
        no-repeat;
}

@media (max-width: 1000px) {
    .baner {
        display: none;
    }

    #container .contents {
        width: 620px;
        height: 640px;
        position: relative;
    }

    .movieChartList_wrap {
        flex-wrap: wrap;
    }

    .movieChartList .movieChart_wrap {
        margin-top: 10px;
        margin-bottom: 10px;
        flex-basis: 40%;
    }

    .movieChartList .movieChart_wrap .movie_img {
        margin: 0 auto;
    }
}
